@model IEnumerable<CandidatosSistema.Models.EmpresaUsuarioRequisicion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioRequisicion.Correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioRequisicion.Correo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEmpresaUsuarioRequisicion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEmpresaUsuarioRequisicion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEmpresaUsuarioRequisicion })
        </td>
    </tr>
}

</table>
