@model IEnumerable<CandidatosSistema.Models.Candidato>

@{
    ViewBag.Title = "Busquedafilter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Buscar Candidato Administrador</h2>
<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Busquedafilter", "Capturista", FormMethod.Get))
    {
        ////1) nombre del metodo 2) nombre del controller

        <table>
            <tr>
                <td><h4>Nombre:</h4></td>
                <td> @Html.TextBox("Nombre", null, new { @class = "form-control" })   </td>
                <td><h4> Localidad:</h4></td>
                <td>@Html.DropDownList("LocalidadId", String.Empty) </td>
                <td><h4>Salario:</h4></td>
                <td>@Html.DropDownList("SueldoId", String.Empty)</td>
                <td><h4>Educacion:</h4></td>
                <td>@Html.DropDownList("EscolaridadId", String.Empty) </td>
            <tr>
                <td><h4> Categoría:</h4></td>
                <td>@Html.DropDownList("EspecialidadId", String.Empty)</td>
                <td></td>
                <td>
                    <button type="submit" value="Busqueda" class="btn btn-success">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Busqueda
                    </button>
                </td>


            </tr>
        </table>
    }
</p>
<table class="table table-hover">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Telefono
        </th>

        <th>
            Educacion
        </th>
        <th>
            Localidad
        </th>
        <th>
            Salario
        </th>
        <th>
            Categoría
        </th>
        <th>
            Email
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Archivo)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Escolaridad.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sueldo.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Archivo))
                {
                    <a href=@string.Format("{0}/{1}", ViewBag.CarpetaArchivos, item.Archivo) target="_blank">Ver archvo adjunto</a>
                }
            </td>
            <td>

                @Html.ActionLink("E", "Edit", new { id = item.CandidatoId }, new { @class = "btn btn-success" })
                @Html.ActionLink("V", "Details", new { id = item.CandidatoId }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }
</table>
