@model CandidatosSistema.Models.Candidato

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">


<h2 style="font-family: 'Fredoka One', cursive; color:#0c6b37;">Vista Detalle&nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>


<div>
    <h4 style="font-family: 'Roboto Condensed', sans-serif;">Administrador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCandidato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCandidato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capturista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capturista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCaptura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCaptura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archivo)
            @if (!string.IsNullOrEmpty(Model.Archivo))
            {
                <a href=@string.Format("{0}/{1}", ViewBag.CarpetaArchivos, Model.Archivo) target="_blank">Ver archvo adjunto</a>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escolaridad.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escolaridad.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidad.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidad.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sueldo.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sueldo.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidad.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.Clave)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Busquedafilter")" class="btn btn-info">Regresar a la lista  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CandidatoId }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
