<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de  Gestion de Candidato</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("App Candidatos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Captura", "Create", "Candidato")</li>
                    <li>@Html.ActionLink("Busqueda", "Busquedafilter", "Filtro")</li>
                    <li>@Html.ActionLink("Reporte", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Salir", "Contact", "Home")</li>
                    <li>                  
                    </li>
                </ul>

                @*<h5>  Bienbenido - @Session["LogedUserFullname"].ToString() </h5>*@ 

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h4> Vercion Beta</h4>
            <p>&copy; @DateTime.Now.Year - Agentia SA. de CV.  </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
