<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de  Gestion de Candidato</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/highchart")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*<img src="~/img/LogoAgentia.png" />*@

                <img src="~/img/LogoAgentia.png"  width="100" height="50" >

                @*@Html.ActionLink("App Candidatos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home" )    </li>*@

                    <li> <a href="@Url.Action( "Index", "Home")" > Inicio <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a> </li>


                    <li> <a href="@Url.Action("Busquedafilter", "Capturista")">Reclutador <span class="glyphicon glyphicon-check" aria-hidden="true"></span></a> </li>


                    @*<li>@Html.ActionLink("Reclutador", "Busquedafilter", "Capturista")</li>*@
                  

                    <li>                        
                        @if (@Session["LogedUserFullname"].ToString() == "Nestor Martin" || @Session["LogedUserFullname"].ToString() == "Administrador"|| @Session["LogedUserFullname"].ToString() == "Cesar Alejandro Gomez Gutierrez"|| @Session["LogedUserFullname"].ToString() == "Claudia alejandra Escalante Flores"|| @Session["LogedUserFullname"].ToString() == "Karen Lizeth Velasco Villalva")
                        {

                             <a href="@Url.Action("Busquedafilter", "Filtro")"> Supervisor  <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></a>

                               @*@Html.ActionLink("Administrador", "Busquedafilter", "Filtro", new { @Id = "MenuAdministrador" })*@
                        }

                        else
                        {
                            <a style="display:none" href="@Url.Action("Busquedafilter", "Filtro")"> Administrador <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></a>

                          @*@Html.ActionLink("Administrador", "Busquedafilter", "Filtro", new { @Id = "MenuAdministrador", @style = "display:none" })*@
                       }
                    </li>
                    <li> <a style="display:none" href="@Url.Action("ReporteRender", "Capturista")">Reporte<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a> </li>
                    <li> <a href="@Url.Action("Index", "GraficaCandidatosRegion")">Reportes <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a> </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Dashboard <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "GraficaCandidatosRegion")">Por Region</a> </li>
                            <li><a href="@Url.Action("Index", "GraficaEstatus")">Por Estatus</a> </li>
                            <li><a href="@Url.Action("Index", "GraficaSueldo")">Por Salario</a> </li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", "GraficaEmpresa")">Por Empresa</a> </li>
                            <li><a href="@Url.Action("Index", "GaficaEmpresaPastel")">Por Empresa colores</a> </li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", "GraficaProfesion")">Por Profesion</a></li>
                            <li><a href="@Url.Action("Index", "GraficaEStudios")">Por Estudios</a></li>
                        </ul>
                    </li>

                    <li> <a href="@Url.Action("Login", "Home")">Salir <span class="glyphicon glyphicon-off" aria-hidden="true"></span></a> </li>
                </ul>
                @*<h5>  Bienbenido - @Session["LogedUserFullname"].ToString() </h5>*@ 
             
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h4> Version 1.0.0.1</h4>
            <p>&copy; @DateTime.Now.Year - Agentia SA. de CV.  </p>
        </footer>
    </div>

    @*<script type="text/javascript">

     function ocultar()
     {
        
         @Html.ActionLink("Administrador", "Busquedafilter", "Filtro", new { @Id = "MenuAdministrador", @style = "display:none" })
         
     }
    </script>*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
